.App {
    --header_height: 60px;
}

.hw {
    padding: 70px;
    border: 1px solid #D9D9D9;
}

.hwTitle {
    padding-bottom: 10px;
    padding-top: 39px;
    padding-left: 70px;

    font-weight: 600;
    font-size: 22px;

}